<!DOCTYPE HTML>
<html>
	<head>
  		<link href="static/assets/cap.ico" rel="icon">
		<title>R V Rohaan Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">My Works</a></li>
							<li><a href="#two">About Me</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Hello</h1>
							<h4><span id="typed-strings">
                  				<span>I'm R V Rohaan,</span><br>
                  				<span>Python Beginner.</span><br>
                  				<span>Currently working as Member Techinal Staff at TruU Identity Tech Pvt.Ltd Bengaluru.</span><br>
                			</span>
                			<span id="typed"></span></h4>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a class="image"><img src="static/images/re1.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Password Checker</h2>
									<p>This is a Python program I designed to check if your passwords have ever been breached.</p>
									<ul class="actions">
										<li><a href="work1.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="static/images/re3.png" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Web Scraping</h2>
									<p>This is a Python program I designed to get the top stories or articles for a website.</p>
									<ul class="actions">
										<li><a href="work2.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="static/images/re5.png" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Image Processing</h2>
									<p>This is a Python project created to edit and process images more to our needs.</p>
									<ul class="actions">
										<li><a href="work3.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="static/images/re7.png" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>PDF Processing</h2>
									<p>This is a Python project created to edit and process PDF files.</p>
									<ul class="actions">
										<li><a href="work4.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2><span class="image right"><img src="static/images/rohaan.png" alt="" /></span>About Me</h2>
							<p>Hi all, myself Rohaan,</p>
							<p>I am currently working in TruU Identity Tech Pvt.Ltd Bengaluru in the role of Member Technical Staff.<br>I completed my Bachelor's Degree from Ramaiah Institue of Technology in the year 2021. To get to know more about me click on the Learn more button below.</p>
							<ul class="actions">
								<li><a href="aboutme.html" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Please use the form below to send me any messages or feedback or to get in touch with me. You can also get in touch with me by clicking on the social media icons available below.</p>
							<div class="split style1">
								<section>
									<form method="post" action="submit_form">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="submit_form" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>#304 Hinduja towers,<br />
											Virupakshapura Kodigehalli,<br />
											Bangalore Karnataka-560097</span>
										</li>
										<li>
											<h3>Email</h3>
											<span>rvrohaan@gmail.com</span>
										</li>
										<li>
											<h3>Phone</h3>
											<span>+91 8892486606</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://www.facebook.com/rohaan.rockzz" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="https://github.com/rvrohaan" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.instagram.com/rv_rohaan/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="https://www.linkedin.com/in/rv-rohaan-569717211/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>Contact: <br></li>
						<li><a href="rvrohaan@gmail.com">rvrohaan@gmail.com</a></li>
						<li>Phone number: +91 8892486606</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>