<!DOCTYPE HTML>
<html>
	<head>
  		<link href="static/assets/cap.ico" rel="icon">
		<title>Passwork Checker</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Home</a>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="work1.html" class="active">My Works</a></li>
						<li><a href="aboutme.html">About Me</a></li>
						<li><a href="contact.html">Contact</a>
					</ul>

					<ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            			<li><a href="work1.html" title="" class="active">001</a></li>
            			<li><a href="work2.html" title="">002</a></li>
            			<li><a href="work3.html" title="">003</a></li>
            			<li><a href="work4.html" title="">004</a></li>
          			</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style fade-up">
						<div class="inner">
							<h1 class="major">Password Checker</h1>
							<span class="image fit"><img src="static/images/password1.jpg" alt="" /></span>
							<p>This is a Python program designed to check wheter a particular password has ever been breached or not. And if breached how many times was it breached.</p>
							<p>Usually these kind of projects use what is called as Hasing to encrypt your password and check if it was breached or not. So ypu would have to provide the entire password to the website which you may or may not trust. Hence I built this project to check your password by sending only the first five charecters of your password so as to keep it safe from the website as well.</p>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>Contact: <br></li>
						<li><a href="rvrohaan@gmail.com">rvrohaan@gmail.com</a></li>
						<li>Phone number: +91 8892486606</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>