<!DOCTYPE HTML>
<html>
	<head>
  		<link href="static/assets/cap.ico" rel="icon">
		<title>Image Processing</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Home</a>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="work1.html" class="active">My Works</a></li>
						<li><a href="aboutme.html">About Me</a></li>
						<li><a href="contact.html">Contact</a>
					</ul>

					<ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            			<li><a href="work1.html" title="">001</a></li>
            			<li><a href="work2.html" title="">002</a></li>
            			<li><a href="work3.html" title="" class="active">003</a></li>
            			<li><a href="work4.html" title="">004</a></li>
          			</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style fade-up">
						<div class="inner">
							<h1 class="major">Image Processing</h1>
							<span class="image fit"><img src="static/images/re4.png" alt="" /></span>
							<p>This is a Pyhton program crated to edit and process images more to our needs.</p>
							<p>In this Python program where we can select an image and process it in many ways according to our needs. There are various options available in this program such as:</p>
							<p>1.Reducing the file size of the image.</p>
							<p>2.Converting a Color image into a Black and White image.</p>
							<p>3.Croping the image to a particular size.</p>
							<p>and so on ...</p>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>Contact: <br></li>
						<li><a href="rvrohaan@gmail.com">rvrohaan@gmail.com</a></li>
						<li>Phone number: +91 8892486606</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>